# CronTab config
HOME="${HOME:-/}"
HOSTNAME="$(hostname -f)"
LOGDIR="${LOGDIR:-/usr/local/log}"
SHELL="$(type -P bash || echo "$SHELL")"
PATH=/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
MAILTO=no-reply@$(hostname -s).casjay.in

# run-parts
01 * * * * root run-parts /etc/cron.hourly
02 4 * * * root run-parts /etc/cron.daily
22 4 * * 0 root run-parts /etc/cron.weekly
42 4 1 * * root run-parts /etc/cron.monthly
